<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />


    <title>Invoice List</title>
    <style>
        * {
            font-family: "Bree Serif", serif;
            font-weight: 400;
            font-style: normal;

        }
    </style>

</head>

<body>
    <div class="relative flex flex-col w-full h-[100vh] overflow-auto text-gray-700 bg-white  p-5">
        <div class="flex items-center w-full justify-between p-2 bg-slate-900 text-white">
            <span class="text-3xl font-bold">
                Profilics
            </span>

        </div>


</div>
</body>
</html>