<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Invoice List</title>
    <style>
        * {
            font-family: "Bree Serif", serif;
            font-weight: 400;
            font-style: normal;

        }
    </style>
    <script src="/static/js/invoiceList.js"></script>
</head>

<body>
    <div class="relative flex flex-col w-full h-[100vh] overflow-auto text-gray-700 bg-white  p-5">
        <div class="flex items-center w-full justify-between p-2 bg-slate-900 text-white">
            <span class="text-3xl font-bold">
                Profilics
            </span>

        </div>
        <div class="flex items-center w-full justify-between p-5">
            <span class="text-3xl font-bold">
                Invoice list
            </span>
            <a href="/add-invoice" class="px-4 py-2 bg-slate-900 text-white">
                Add Invoice
            </a>

        </div>
        <div class="flex items-center w-full justify-between p-5">
            <div class="w-full max-w-sm min-w-[700px]">
                <input
                    class="w-full bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded-md px-3 py-2 transition duration-300 ease focus:outline-none focus:border-blue-500 hover:border-blue-300 shadow-sm focus:shadow"
                    placeholder="Search by invoice number, customer name, address or amount" />
            </div>
            <div class="w-full max-w-sm min-w-[200px]">

                <div class="relative">
                    <select id="category" onchange="changeCategory(this.value)" placeholder="select category"
                        class="w-full bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded pl-3 pr-8 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-400 shadow-sm focus:shadow-md appearance-none cursor-pointer">


                    </select>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.2"
                        stroke="currentColor" class="h-5 w-5 ml-1 absolute top-2.5 right-2.5 text-slate-700">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M8.25 15 12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9" />
                    </svg>
                </div>
            </div>

        </div>

        <table class="w-full text-left table-fixed min-w-max text-slate-800 border-collapse border">
            <thead>
                <tr class="text-slate-500 border-b border-slate-300 bg-slate-50">
                    <th class="p-4 border border-gray-300">
                        <p class="text-sm leading-none font-normal">
                            Id
                        </p>
                    </th>
                    <th class="p-4 border border-gray-300">
                        <p class="text-sm leading-none font-normal">
                            Invoice number
                        </p>
                    </th>
                    <th class="p-4 border border-gray-300">
                        <p class="text-sm leading-none font-normal">
                            customer name
                        </p>
                    </th>
                    <th class="p-4 border border-gray-300">
                        <p class="text-sm leading-none font-normal">
                            Address
                        </p>
                    </th>
                    <th class="p-4 border border-gray-300">
                        <p class="text-sm leading-none font-normal">
                            totalAmount
                        </p>
                    </th>
                    <th class="p-4 border border-gray-300">
                        <p class="text-sm leading-none font-normal">
                            Status
                        </p>
                    </th>
                    <th class="p-4 border border-gray-300">
                        <p class="text-sm leading-none font-normal">
                            Actions
                        </p>
                    </th>
                </tr>
            </thead>
            <tbody id="table-body">


            </tbody>
        </table>
        <div class="flex items-center w-full justify-between p-5">
            <div class="flex items-center w-full justify-between p-5">
                <div class="flex items-center space-x-1">
                    <span> Showing</span>
                    <span id="start-item"></span>
                    <span>to</span>
                    <span id="end-item"></span>
                    <span>of</span>
                    <span id="total-items"></span>
                </div>
                <div class="row flex" id="pagination_buttons">
                    <!-- Pagination buttons will be dynamically inserted here -->
                </div>
            </div>
        </div>
    </div>
</body>

</html>